
/* フォント
-----------------------------------------------------------------------------*/
@font-face {
    font-family: mplus-1p-regular;
    src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
    format("truetype");
}


/* レイアウト
-----------------------------------------------------------------------------*/

h1 {
    font-size: 150%;
    border-bottom: double;
    margin: 1em 0em;
}
footer {
    padding: 0.5em;
    text-align: center;
}
input[type="submit"] {
    text-transform: capitalize;
}

