<h1>設定</h1>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="old-password">Old Password</label>
        <div class="controls">
            <input type="password" name="old-password" size="60" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="new-password">New Password</label>
        <div class="controls">
            <input type="password" name="new-password" size="60" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="new-password-confirm">New Password (Confirm)</label>
        <div class="controls">
            <input type="password" name="new-password-confirm" size="60" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" name="reset-pasword" value="Reset Password" class="btn btn-warning" />
        </div>
    </div>
</form>

