<% @warnings.each do |warning| %>
<section class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Warning!</strong>
  <%= warning %>
</section>
<% end %>


<h1>ログイン</h1>

<form id="login-form" action="/login" method="post" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="user-name">User ID</label>
        <div class="controls">
            <input type="text" name="user-name" class="span4">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="plane-password">Password</label>
        <div class="controls">
            <input type="password" name="plane-password" class="span4">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" name="submit" value="login" class="btn">
        </div>
    </div>
</form>
